.header {
    background-color: skyblue;
}

#headerText {
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 8rem;
}

#appendArea {
    background-color: whitesmoke;
    height: 20vh;
}

#giphyArea {
    background-color: whitesmoke;
    height: 66vh;
    overflow: scroll;
}

.sides {
    background-color: skyblue;
}

.oldSearchButton {
    width: 15vw;
    height: 6vh;
    margin: 5px;
}

.gif {
    width: 24vw;
    height: 30vh;
    margin: 5px;
    margin-left: 30vw;
}

.gifText {
    font-size: 1rem;
    margin-left: 30vw;

}